a, a:visited, a:hover { color: var(--oneshot); }


:root {
    --monitor-bg: #131313;
    --button-bg: #2b2b2b;
    --button-fg: #c0c0c0;
    --led-ok: #139613;
    --led-error: #f02424;
    --play-led-ready: var(--led-ok);
    --play-led-not-ready: var(--led-error);
    --oneshot: #9364fd;
    --sticky-note: #ffea97;
    --font-body: "TerminusTTF", monospace;
    --font-script: 'Comic Neue', 'Comic Sans MS', cursive, sans-serif;
}

input,
button,
body {
    font-family: var(--font-body);
}

.setup-screen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.setup-content {
    flex-grow: 1;
    padding: 1rem;
    width: 100%;
}

.setup-button {
    appearance: none;
    background: transparent;
    border: 2px solid var(--oneshot);
    color: var(--oneshot);
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.setup-button:hover {
    background: var(--oneshot);
    color: black;
}

.setup-button:active {
    border-color: black ;
}